*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --colorblack: black;
    --colorwhite: white;
    --colorgray: gray;
}
#container {
    display: grid;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    min-width: 320px;
    font-size: clamp(8px, 1rem, 2em);
    background-color: rgb(186, 224, 239);
    text-transform: capitalize;
}
h1 {
    display: grid;
    justify-content: center;
    padding: 20px 20px;
}
h1:hover {
    text-shadow: 2px 2px 5px yellow;
    text-overflow: clip;
    display: inline-block;
}

.leaves-1, .leaves-2, .leaves-3, .leaves-4, .leaves-5 {
    width: 150px;
    height: 150px;
    background-color: green; 
    border-radius: 50%;   
    transform:rotate(-60deg); 
    position: absolute;
    margin: auto;
    animation: pulse 3s infinite linear;


}
p {
 position: absolute;
 color: white;
 font-size: large;
 left: 15px;
 bottom: 35px;
 padding: 5px 5px;
}
p:hover {
text-overflow: clip; 
display: inline-block;

}
.leaves-1:hover {
background-color: red;

}
.leaves-2:hover {
background-color: red;
}
.leaves-3:hover {
background-color: red;
} 
.leaves-4:hover {
background-color: red;
}
.leaves-5:hover {
background-color: red;
}
.leaves-1 {
    left: 250px;
    top: 200px;
}
.leaves-2 {
    left: 500px;
    top:150px;
}

.leaves-3 {
    left: 700px;
    top:270px;
}
.leaves-4 {
    left: 900px;
    top:400px;
}
.leaves-5 {
   right: 20px;
   top: 300px; 
}
.s-bild,.ss-bild, .sss-bild {
  width: 200px;
  height: 150px;
  margin: auto;  
}
.logo img{
 width: 200px;
 height: 200px;
}
.ss-bild{
    position: absolute;
    right: 10px;

}
.sss-bild{
    position: absolute;
    right: 1000px;
    top: 400px;
}
@keyframes pulse {
    0% { box-shadow: 0 0 40px 10px yellow; }
    50% { box-shadow: 0 0 80px 25px yellow; }
    100% { box-shadow: 0 0 40px 10px yellow; }
}
audio {
   position: absolute;
   left: 250px;
   top: 490px;
}